@import url('http://fonts.cdnfonts.com/css/gotham');

.list-title {
    font-family: 'Gotham Light', sans-serif;
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    margin-left: .5rem;
    letter-spacing: .09em;
}